.header{
    top: 5px;
    left: 5px;
    right: 5px;
    height: 100px;
    z-index: 2;
    border-bottom: solid 1px #555555;
    background-color: aliceblue;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.body{
    text-align: center;
    background-color: rgb(230, 220, 207);
    position: absolute;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    top: 114px;
    left: 5px;
    right: 5px;
    bottom: 5px;
}

.list{
    padding-left: 45px;
    text-align: left;
}